@model EmployeeCommon.ViewModels.ResetPasswordViewModel
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}



<h2>Reset Password</h2>
<hr />
<div class="row">
    <div class="col-md-12">
        <form method="post">
            @Html.ValidationSummary(false, "Sorry, there were problems with your submission. Please review these following items:", new { @class = "alert alert-danger text-danger", Id = "valSummary" })
            @Html.HiddenFor(m => m.Token)
            @Html.HiddenFor(m => m.Email)
            <div class="form-group col-lg-5">
                <label for="Password">Password</label>
                @Html.PasswordFor(m => m.Password, new { @class = "form-control input-sm", id = "txtPassword", maxlength = "20", placeholder = "Enter Password" })
                
            </div>
            <div class="form-group col-lg-5">
                <label asp-for="ConfirmPassword"></label>
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control input-sm", id = "txtCnfPassword", maxlength = "20", placeholder = "Confirm Password" })
                
            </div>
            <button type="submit" class="btn btn-primary my-2 btn-sm">Reset</button>
        </form>
    </div>
</div>

